---
---

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>The Quote Collector</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,900,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="container">
            <h1>The Quote Collector</h1>

            <h2>{{ site.reviews.size }} Media Reviews</h2>

            {% for review in site.reviews %}
            <div class="entry">
                <h3 class="entry-title"><a href="{{ review.link }}" target="_blank">{{ review.title }}</a></h3>
                <div class="entry-content">
                    <blockquote>{{ review.content }}</blockquote>
                </div>
                <div class="entry-meta">
                    <time class="entry-date">{{ review.date | date: "%b %-d, %Y" }}</time>
                </div>
            </div>
            {% endfor %}

            <h2>{{ site.testimonials.size }} User Testimonials</h2>

            {% for testimonial in site.testimonials %}
            <div class="entry">
                <h3 class="entry-title">{{ testimonial.title }}</h3>
                <div class="entry-content">
                    <blockquote>{{ testimonial.content }}</blockquote>
                </div>
                <div class="entry-meta">
                    <time class="entry-date">{{ testimonial.date | date: "%b %-d, %Y" }}</time>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
