---
---

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>The Quote Collector</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/simple-grid.css">
        <link rel="stylesheet" href="css/main.css">

        <meta name="theme-color" content="#000000">
    </head>
<body>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 center">
                    <img src="img/quote.svg" width="76" alt="Quote symbol" />
                    <h1>The Quote Collector</h1>
                    <h2 class="font-light">I create programs.<br />I collect quotes about them.</h2>
                    <a href="http://www.horatiu.me" target="_blank">
                        <button>About Me</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="body-content">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title center">Words</h2>
                    <ul class="wordlist">
                        {% for word in site.data.words %}
                        <li>{{ word }}</li>,
                        {% endfor %}
                        ...
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title center">From</h2>
                    <ul class="wordlist">
                        {% for country in site.data.countries %}
                        <li>{{ country }}</li>,
                        {% endfor %}
                        ...
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-2 hidden-sm"></div>
                <div class="col-8">
                    <h2 class="section-title center">Reviews</h2>
                    {% for review in site.reviews %}
                    <div class="entry">
                        <div class="entry-content">
                            <blockquote>
                                <p>
                                    <strong><a href="{{ review.link }}" target="_blank">{{ review.by }} / {{ review.app }}</a></strong>:
                                    {{ review.content }}
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-2 hidden-sm"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-2 hidden-sm"></div>
                <div class="col-8">
                    <h2 class="section-title center">Testimonials</h2>
                    {% for testimonial in site.testimonials %}
                    <div class="entry">
                        <div class="entry-content">
                            <blockquote>
                                <p>
                                    <strong>{{ testimonial.by }} / {{ testimonial.app }}</strong>:
                                    {{ testimonial.content }}
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-2 hidden-sm"></div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="img img-logo"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="img/quote.svg" width="76" alt="Quote symbol" />
                    <p>The Quote Collector<br/>
                    Collected by <a href="http://www.horatiu.me" target="_blank">horatiu.me</a></p>
                    <p>{{ site.data.words.size}}, {{ site.data.countries.size}}, {{ site.reviews.size }}, {{ site.testimonials.size }}</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
